/* Style for the nav-link buttons */
.navbar-nav .nav-link {
    color: #000; /* Default color */
    transition: color 0.3s ease, transform 0.3s ease;
}


    /* Hover effect for the icons */
    .navbar-nav .nav-link:hover i {
        color: #ff4500; /* Change the icon color on hover */
        transform: scale(1.1); /* Enlarge the icon slightly */
    }


/* Styles for Search Menu */
.search-menu {
    position: fixed;
    top: 0;
    right: -400px; /* Hidden off-screen */
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1050; /* Should be above normal content */
    transition: right 0.3s ease-in-out;
    padding: 20px;
}

    .search-menu .search-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search-menu .close-btn {
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
    }

    .search-menu .form-control {
        margin-top: 30px;
    }

    .search-menu .input-group-append {
        margin-top: 30px;
    }

    /* When active, show the menu */
    .search-menu.active {
        right: 0;
    }
